body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.container {
    margin: 1px auto;
    max-width: 1440px;
}

header {
    background: linear-gradient(146.88deg, #D03F71 -6.23%, rgba(221, 36, 118, 0.766559) 74.53%);
    height: 780px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
}
.phone img{
    width: 300px;
    position: absolute;
    top:420px;
    right:0px;
    z-index: 3;
}
.background {
    z-index: 2;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    width: 50%;
}

nav {
    margin: 10px auto;
    padding: 10px 20px;

}

.around-nav {
    width: 98%;
    margin: 21px auto;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 37px;
}

nav .menu-left {
    width: 100%;
}

nav .menu-left ul {
    justify-content: space-between;
    font-size: 16px;
    line-height: 25px;
}

nav .menu-left ul li a {
    color: #FFFFFF;
    opacity: 0.8;
}

nav .logo {
    color: white;
    width: 50%;
    line-height: 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

nav .menu-right {
    width: 20%;
}

nav .menu-right ul button {
    width: 130px;
    height: 55px;
    border-radius: 10px;
    background-color: #FFFE00;
}

nav .menu-right ul li a {
    line-height: 55px;
    width: 55px;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-right: 1rem;

}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.content-header {
    width: 976px;
    height: 264px;
    margin-left: 150px;
    margin-top: 100px;
}

.title {
    width: 633px;
    height: 82px;
    line-height: 82px;
}

.content-header h1 {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 60px;
}

.content-slogan {
    width: 970px;
    height: 80px;
}

.content-header h3 {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 30px;
}

.button-header ul {
    justify-content: flex-start;
    margin-left: -38px;
}

.button-header button {
    height: 60px;
    width: 205px;
    margin-right: 20px;
}
.content-content{
    width: 100%;
    height: 380px;
    background-color: #FFFFFF;
    text-align: center;
    padding: auto;
    margin-top:-60px;
    position: relative;
    z-index: 1;
    padding-top: 60px;
}
.text{
    width: 996px;
    height: 183px;
    margin:60px auto;
    
}
.title-content{
    width: 894px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    margin: auto;
}
.content-content-content{
    width: 996px;
    height: 99px;
    font-size: 24px;
    color: rgba(150, 150, 150, 1);
    line-height: 40px;
    margin-top: -20px;
}
.img-content{
    margin-top: 26px;
    width: 1353px;
    height: 452px;
    margin: auto;
    position: relative;
}
.title-img-content{
    width: 265px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.content-img-content{
    width: 693px;
    height: 33px;
    font-size: 24px;
    color: rgba(150, 150, 150, 1);
    line-height: 40px;
    margin-top: -40px;
    margin: auto;
    margin-bottom: 80px;
}
.img-img-content{
    width: 1327px;
    height: 295px;
}
.img-img-content ul{
    justify-content:flex-start;
    margin-left: -40px;
}
.img-img-content ul img{
    margin-right: 40px;
}
.button-img img{
    position: absolute;
    top: 330px;
    right: 30px;
}
.button-back-img img{
    position: absolute;
    top: 330px;
    left: -25px;
}
.images-background{
    width: 1440px;
    height: 450px;
    position: relative;
    margin-top: 200px;
}
.img1{
    position: absolute;
}
.img2{
    position: absolute;
}
.title-content-background{
    width: 517px;
    height: 82px;
    z-index: 3;
    position: relative;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    top: 140px;
    font-size: 20px;
}
.content-content-background{
    width: 952px;
    height: 141px;
    z-index: 3;
    position: relative;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    top: 110px;
    font-size: 33px;
}
.img-content-background{
    z-index: 3;
    position: relative;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    top: 130px;

}
.button-img-background img{
    position: absolute;
    top: 210px;
    right: 80px;
}
.button-back-img-background img{
    position: absolute;
    top: 210px;
    left: 20px;
}
.banner-bottom{
    height: 263px;
    background: linear-gradient(161.6deg, #FE5030 8.2%, #D72D77 88.92%);
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-banner{
    width: 791px;
    height: 104px;
    color:#FFFFFF;
    font-size: 20px;
}
.button-banner  button{
    width: 250px;
    height: 80px;
    background-color: #FFFE00;
    border-radius: 10px;
    font-size: 22px;
}
footer{
    height: 197px;
    color: black;
    line-height: 197px;
    display: flex;
    align-items: center;
}
nav {
    margin: 10px auto;
    padding: 10px 20px;

}

.around-nav-footer {
    width: 98%;
    margin: 21px auto;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 37px;
}
.header-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
nav .menu-left-footer {
    width: 100%;
}

nav .menu-left-footer ul {
    justify-content: space-between;
    font-size: 16px;
    line-height: 25px;
}

nav .menu-left-footer ul li a {
    color: black;
    opacity: 0.8;
}

nav .logo-footer {
    color: black;
    width: 40%;
    line-height: 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

/* @media screen and (max-width: 360px) {
   body{
    width: 159vh;
   }
   .container{
    width: 100%;
   }
   header{
    width: 100%;
   }
   .around-nav{
    width: 120vh;
   }
   .header{
    width: 100vh;
    justify-content: flex-start;
   }
   nav .logo{
    font-size: 15px;
    width: 25vh;
   }
   nav .menu-left{
    width: 100vh;
   }
   .nav .menu-left ul{
    font-size: 10px;
   }
   nav .menu-right ul button{
    width: 20vh;
   }
   .content-slogan{
    width: 25vh;
   }
   .content-header{
    width: 35vh;
   }
   .title h1 {
    width: 30vh;
    font-size: 15px;
   }
   .content-slogan h3{
    font-size: 15px;
    width: 70vh;
   }
   .content-content{
    width: 100%;
   }
   .text{
    width: 90%;
   }
   .title-content h1{
    width: 151vh;
    font-size: 25px;
   }
   .content-content-content {
    width: 150vh;
    font-size: 20px;
   }
   .img-content{
    width: 100%;
   }
   .title-img-content{
    margin-top:5px
   }
   .img-img-content{
    width: 100%;
   }
   .img-img-content ul img{
    width: 34vh;
    margin-right: 1rem;
   }
   .button-img img{
    top:272px;
    position: absolute;
    right: 18px;
   }
   .button-back-img img{
    position: absolute;
    top: 272px;
    left: -10px
   }
   .images-background{
    width: 100%;
    margin-top: 50px;
    height: 60vh;
   }
   .images-background .img1,.img2{
    width: 100%;
   }
   .title-content-background{
    top: 40px;
    font-size: 15px;
   }
   .content-content-background{
    width: 70%;
    font-size: 20px;
    top:0px
   }
   .button-img-background img{
    top: 85px;
    right: 20px;
   }
   .button-back-img-background img{
    top:85px
   }
   .img-content-background{
    top:-50px
   }
   .banner-bottom{
    margin-top:0;
    width: 100%;
   }
   .title-banner{
    width: 25vh;
   }
   .title-banner h1{
    width: 70vh;
    font-size: 25px;
    margin-left: 2rem;
   }
   .button-banner button{
    width: 50vh;
    margin-right: 2rem;
   }
   .title-content{
    width: 25vh;
    margin:0
   }
   .title{
    width: 128vh;
   }
   .img-img-content ul{
    margin-left: -20px;
   }
} */

 @media screen and (max-width: 1440px) {
    body{
     width: 257vh;
    }
    .container{
     width: 100%;
    }
    header{
     width: 100%;
    }
    .around-nav{
     width: 242vh;
    }
    .header{
     width: 125vh;
     justify-content: flex-start;
    }
    nav .logo{
     font-size: 15px;
     width: 36vh;
    }
    nav .menu-left{
     width: 100vh;
    }
    .nav .menu-left ul{
     font-size: 10px;
    }
    nav .menu-right ul button{
     width: 20vh;
    }
    .content-slogan{
     width: 25vh;
    }
    .content-header{
     width: 35vh;
    }
    .title h1 {
        width: 100vh;
    font-size: 39px;
    }
    .content-slogan h3{
        font-size: 24px;
    width: 110vh;
    }
    .content-content{
     width: 100%;
    }
    .text{
     width: 90%;
    }
    .title-content h1{
     width: 240vh;
     font-size: 25px;
     text-align: center;
    }
    .button-header{
        margin-top: 50px;
    }
    .content-content-content {
    width: 200vh;
    font-size: 20px;
    margin: 0px auto;
    }
    .img-content{
     width: 100%;
     margin-bottom: 140px;
    }
    .title-img-content{
     margin-top:5px
    }
    .img-img-content{
     width: 100%;
    }
    .img-img-content ul img{
        width: 57vh;
        margin-right: 2rem;
    }
    .button-img img{
     top:355px;
     position: absolute;
     right: 37px;
    }
    .button-back-img img{
     position: absolute;
     top: 355px;
     left: -10px
    }
    .images-background{
     width: 100%;
     margin-top: 130px;
     height: 60vh;
    }
    .images-background .img1,.img2{
     width: 100%;
    }
    .title-content-background{
        top: 90px;
        font-size: 23px;
        width: 135vh;
    }
    .content-content-background{
        width: 63%;
        font-size: 34px;
        top: 78px;
    }
    .button-img-background img{
     top: 213px;
     right: 20px;
    }
    .button-back-img-background img{
     top:213px
    }
    .img-content-background{
     top:110px
    }
    .banner-bottom{
     margin-top:185px;
     width: 100%;
    }
    .title-banner{
        width: 100vh;
        margin-top: -35px;
        line-height: 48px;
    
    }
    .title-banner h1{
     width: 100vh;
     font-size: 30px;
     margin-left: 2rem;
    }
    .button-banner button{
     width: 40vh;
     margin-right: 2rem;
    }
    .title-content{
     width: 240vh;
     margin:0
    }
    .title{
    width: 128vh;
    margin-top: -25px;

    }
    .img-img-content ul{
     margin-left: -20px;
    }
 }
 @media screen and (max-width: 768px) {
    body{
     width: 141vh;
    }
    .container{
     width: 100%;
    }
    header{
     width: 140vh;
    }
    .around-nav{
     width: 120vh;
    }
    .header{
     width: 100vh;
     justify-content: flex-start;
    }
    nav .logo{
     font-size: 15px;
     width: 25vh;
    }
    nav .menu-left{
     width: 45vh;
    }
    .nav .menu-left ul{
     font-size: 10px;
    }
    nav .menu-right ul button{
     width: 20vh;
    }
    .content-slogan{
     width: 25vh;
    }
    .content-header{
     width: 35vh;
    }
    .title h1 {
     width: 30vh;
     font-size: 15px;
    }
    .content-slogan h3{
     font-size: 15px;
     width: 70vh;
    }
    .content-content{
     width: 100%;
    }
    .text{
     width: 90%;
    }
    .title-content h1{
     width: 134vh;
     font-size: 25px;
    }
    .content-content-content {
     width: 133vh;
     font-size: 20px;
    }
    .img-content{
     width: 100%;
    }
    .title-img-content{
     margin-top:5px
    }
    .img-img-content{
     width: 100%;
    }
    .img-img-content ul img{
     width: 33vh;
     margin-right: 1rem;
    }
    .button-img img{
     top:345px;
     position: absolute;
     right: 0px;
    }
    .button-back-img img{
     position: absolute;
     top: 345px;
     left: -10px
    }
    .images-background{
     width: 100%;
     margin-top: 50px;
     height: 60vh;
    }
    .images-background .img1,.img2{
     width: 100%;
    }
    .title-content-background{
     top: 40px;
     font-size: 15px;
    }
    .content-content-background{
     width: 70%;
     font-size: 20px;
     top:0px
    }
    .button-img-background img{
     top: 197px;
     right: 20px;
    }
    .button-back-img-background img{
     top:197px
    }
    .img-content-background{
     top:-50px
    }
    .banner-bottom{
     margin-top:0;
     width: 100%;
    }
    .title-banner{
     width: 70vh;
    }
    .title-banner h1{
     width: 70vh;
     font-size: 25px;
     margin-left: 2rem;
    }
    .button-banner button{
     width: 40vh;
     margin-right: 2rem;
    }
    .title-content{
     width: 25vh;
     margin:0
    }
    .title{
     width: 128vh;
    }
    .img-img-content ul{
     margin-left: -20px;
    }
 }